html,
body {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  background-color: #fff;
  font-family: BlissProHeavy;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
.clearfix {
  content: '';
  display: block;
  clear: both;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
form * {
  outline: none;
}
textarea {
  resize: none;
}
.main-wrapper {
  width: 100%;
}
.wrapper {
  width: 100%;
  padding: 0 16px;
}
.hide {
  display: none;
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
h2 {
  font-size: 18px;
  text-transform: uppercase;
}
p {
  text-align: center;
}
@font-face {
  font-family: BlissProBold;
  src: url(../fonts/blisspro-bold.eot), url("../fonts/blisspro-bold.eot?#iefix") format("embedded-opentype"), url(../fonts/blisspro-bold.woff2) format('woff2');
}
@font-face {
  font-family: BlissProExtraBold;
  src: url(../fonts/blisspro-extrabold.eot), url("../fonts/blisspro-extrabold.eot?#iefix") format("embedded-opentype"), url(../fonts/blisspro-extrabold.woff2) format('woff2');
}
@font-face {
  font-family: BlissProHeavy;
  src: url(../fonts/blisspro-heavy.eot), url("../fonts/blisspro-heavy.eot?#iefix") format("embedded-opentype"), url(../fonts/blisspro-heavy.woff2) format('woff2');
}
@font-face {
  font-family: BlissProExtraLight;
  src: url(../fonts/blisspro-extralight.eot), url("../fonts/blisspro-extralight.eot?#iefix") format("embedded-opentype"), url(../fonts/blisspro-extralight.woff2) format('woff2');
}
@font-face {
  font-family: BlissProExtraLightItalic;
  src: url(../fonts/blisspro-extralightitalic.eot), url("../fonts/blisspro-extralightitalic.eot?#iefix") format("embedded-opentype"), url(../fonts/blisspro-extralightitalic.woff2) format('woff2');
}
@font-face {
  font-family: LatoBold;
  src: url(../fonts/Lato-Bold.eot), url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url(../fonts/Lato-Bold.woff2) format('woff2');
}
.header {
  position: relative;
}
.header__button-wrapper {
  background-color: #6d6d6e;
  text-align: center;
  padding: 5px;
  margin-right: 80px;
}
.header__button {
  width: 100%;
  max-width: 220px;
  padding: 18px 0;
  font-size: 20px;
  color: #fff;
  font-family: BlissProHeavy;
  background-color: #1f8a70;
  overflow: hidden;
}
.header__modal-button {
  float: right;
  width: 80px;
  height: 70px;
}
.header__button-line {
  width: 50px;
  height: 8px;
  margin: 0 auto;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #343434;
}
.header__button-line:last-of-type {
  margin-bottom: 0;
}
.first {
  padding-top: 205px;
  margin-bottom: 80px;
  background-image: url(../images/logo_w_text.png);
  background-position: center 75px;
}
.first p {
  margin-bottom: 25px;
  color: #7d7d7d;
  text-align: center;
}
.first h1 {
  margin-bottom: 40px;
  font-size: 36px;
  color: #6c6c6d;
  text-transform: uppercase;
}
.video {
  position: relative;
}
.video img {
  width: 100%;
}
.video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.video__play-button::after {
  content: '';
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translatey(-50%);
  border: 20px solid transparent;
  border-left: 20px solid rgba(1, 1, 1, 0.5);
}
.mission {
  margin-bottom: 50px;
}
.mission h2 {
  margin-bottom: 80px;
}
.mission p {
  font-size: 18px;
  color: #666666;
}
.questions {
  margin-bottom: 80px;
  background-color: #0b87a2;
  color: #fff;
}
.questions__header {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 55px;
  background-color: #045970;
}
.slider {
  position: relative;
}
.slider__arrow {
  position: absolute;
  top: 50%;
  border-top: 1px solid #2795ad;
  border-right: 1px solid #2795ad;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.slider__arrow--left {
  transform: rotate(-135deg);
}
.slider__arrow--right {
  right: 0;
  transform: rotate(45deg);
}
.slider__bullets {
  text-align: center;
  padding-bottom: 35px;
}
.slider__bullets ul li {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #6ab6c6;
  border-radius: 50%;
}
.slider__bullets ul .active-bullet {
  background-color: #fff;
  border: 1px solid #fff;
}
.slide {
  vertical-align: bottom;
}
.slide p {
  width: 215px;
  margin: 0 auto;
  padding-top: 105px;
  padding-bottom: 65px;
  font-size: 18px;
}
.business-missions {
  color: #484e5c;
}
.business-missions h2 {
  margin-bottom: 40px;
  color: #666666;
}
.business-missions__text {
  font-size: 18px;
  margin-bottom: 95px;
}
.business-missions__more {
  position: relative;
  height: 100px;
  cursor: pointer;
}
.business-missions__more::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: translate(-50%, -50%) rotate(135deg);
}
.question {
  position: relative;
  margin-bottom: 27px;
}
.question img {
  width: 100%;
  margin-bottom: 27px;
}
.question h3 {
  margin-bottom: 15px;
  color: #515255;
  font-size: 14px;
}
.question p {
  width: 70%;
  margin: 0 auto;
  font-size: 12.5px;
  color: #7a7875;
}
.question__more-button {
  position: absolute;
  right: 30px;
  bottom: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 50%;
}
.question__more-button::after {
  content: '';
  position: absolute;
  top: 2px;
  right: 3.5px;
  width: 5px;
  height: 5px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
}
.directions__header {
  padding-top: 50px;
  padding-bottom: 115px;
  background-color: #f3f4f6;
}
.directions__header h2 {
  color: #666666;
}
.direction {
  position: relative;
  text-align: center;
}
.direction__header {
  position: relative;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 25px;
  background-color: #6c6c6d;
}
.direction__header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background-color: #1f8a70;
}
.direction__header h2 {
  font-size: 16px;
  color: #fff;
}
.direction__more-header {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translatex(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.direction__more-header::after {
  content: '';
  position: absolute;
  top: 2px;
  right: 3.5px;
  width: 5px;
  height: 5px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
}
.direction p {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 155px;
  color: #666666;
}
.direction__more {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translatex(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 50%;
}
.direction__more::after {
  content: '';
  position: absolute;
  top: 2px;
  right: 3.5px;
  width: 5px;
  height: 5px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
}
.speakers {
  background-color: #f7f8fb;
}
.speakers__header {
  padding: 85px 0;
}
.speakers__more {
  position: relative;
  height: 40px;
  cursor: pointer;
}
.speakers__more::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: translatex(-50%) rotate(135deg);
}
.speaker {
  margin-bottom: 65px;
  position: relative;
  text-align: center;
}
.speaker img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
.speaker__name {
  margin-bottom: 10px;
  font-size: 18px;
  color: #666666;
}
.speaker__company {
  font-size: 14px;
  color: #bdd63d;
}
.speaker-details {
  position: relative;
  margin-bottom: 40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #fff;
  text-align: center;
}
.speaker-details__header {
  padding: 15px 0;
  margin-bottom: 12px;
  background-color: #6c6c6d;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #fff;
  font-size: 13px;
}
.speaker-details__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.speaker-details__close::before {
  content: '';
  position: absolute;
  top: 15px;
  right: 15px;
  width: 2px;
  height: 12px;
  background-color: #e1e1e1;
  transform: rotate(45deg);
}
.speaker-details__close::after {
  content: '';
  position: absolute;
  top: 15px;
  right: 15px;
  width: 2px;
  height: 12px;
  background-color: #e1e1e1;
  transform: rotate(-45deg);
}
.speaker-details__avatar {
  margin-bottom: 10px;
}
.speaker-details__name {
  margin-bottom: 15px;
  font-size: 16px;
  color: #515255;
  text-align: left;
}
.speaker-details__description {
  margin-bottom: 25px;
  color: #b2b2b2;
  font-size: 14px;
  text-align: left;
}
.speaker-details__company {
  margin-bottom: 40px;
  font-size: 12px;
  text-align: left;
  color: #515255;
}
.speaker-details__position {
  padding-bottom: 55px;
  font-size: 12px;
  text-align: left;
  color: #515255;
}
.timetable h2 {
  padding-top: 60px;
  padding-bottom: 100px;
}
.timetable__dates {
  position: relative;
  height: 65px;
  margin-bottom: 55px;
}
.timetable__dates h2 {
  padding-top: 23px;
  padding-bottom: 17px;
  font-family: BlissProExtraBold;
  font-size: 20px;
  text-transform: inherit;
  letter-spacing: 3px;
  color: #fff;
}
.timetable__date {
  position: absolute;
  display: inline-block;
}
.timetable__date--first {
  z-index: 1;
  left: 0;
  width: 60%;
  background-color: #fee010;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.timetable__date--first h2 {
  text-align: left;
  margin-left: 16px;
}
.timetable__date--second {
  right: 0;
  width: 60%;
  background-color: #6c6c6d;
}
.timetable__date--second h2 {
  text-align: right;
  margin-right: 16px;
}
.timetable__download {
  float: right;
  margin-top: 30px;
  margin-right: 15px;
  padding-top: 15px;
  padding-right: 30px;
  background-image: url('../images/pdf_download.png');
  background-position: right;
  font-size: 12px;
  text-transform: inherit;
  font-family: BlissProHeavy;
}
.time {
  margin-bottom: 15px;
}
.time__header {
  height: 65px;
  width: 100%;
  margin-left: -15px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #fff;
}
.time__header p {
  display: inline-block;
  margin-left: 30px;
  margin-right: 15px;
  padding-top: 25px;
  font-size: 15px;
}
.time__header--not-important {
  background-color: #1f8a70;
}
.time__header--important {
  background-color: #6c6c6d;
}
.time__description {
  width: 65%;
  display: inline-block;
  margin-top: -4px;
  vertical-align: middle;
}
.time__description p {
  width: 100%;
  padding: 0;
  font-size: 18px;
  text-align: left;
  margin-left: 0;
}
.time__about {
  margin-top: 5px;
  padding: 15px;
  padding-bottom: 10px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #d6d6d7;
  font-size: 12px;
  color: #6c6c6d;
}
.members {
  max-width: 260px;
  margin: 0 auto;
  margin-top: 40px;
}
.member {
  position: relative;
  display: inline-block;
  width: 49%;
  margin-bottom: 30px;
  text-align: center;
  vertical-align: top;
}
.member img {
  margin-bottom: 5px;
}
.member__moderator {
  position: absolute;
  top: 22px;
  right: -80px;
  font-size: 14px;
  color: #666666;
}
.member__about {
  position: relative;
}
.member__about p {
  position: relative;
  font-size: 8px;
}
.member__left {
  position: relative;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.member__left p {
  text-align: left;
}
.member__more {
  position: absolute;
  right: 6px;
  bottom: 0;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}
.member__more::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 50%;
  width: 3px;
  height: 3px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: translatex(-50%) rotate(45deg);
}
.member__right {
  margin-top: 5px;
  display: inline-block;
  width: 46%;
  vertical-align: top;
}
.member__right p {
  text-align: left;
}
.member__circle {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translatex(-50%);
  width: 77px;
  height: 77px;
  border-radius: 50%;
  border: 2px solid #bdd63d;
}
.member__circle--moderator {
  border-color: #fee746;
}
.member__line1 {
  position: absolute;
  top: 68px;
  left: 49%;
  width: 2px;
  height: 20px;
  background-color: #bdd63d;
}
.member__line1::before {
  position: absolute;
  top: -2px;
  left: -1px;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #bdd63d;
}
.member__line1::after {
  position: absolute;
  bottom: -2px;
  left: -1px;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #bdd63d;
}
.member__line1--moderator {
  background-color: #fee746;
}
.member__line1--moderator::before {
  background-color: #fee746;
}
.member__line1--moderator::after {
  background-color: #fee746;
}
.member__line2 {
  position: absolute;
  top: 30px;
  left: 102px;
  width: 20px;
  height: 2px;
  background-color: #bdd63d;
}
.member__line2::before {
  position: absolute;
  top: -1px;
  left: -2px;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #bdd63d;
}
.member__line2::after {
  position: absolute;
  top: -1px;
  right: -2px;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #bdd63d;
}
.member__line3 {
  position: absolute;
  top: -32px;
  left: 49%;
  width: 2px;
  height: 20px;
  background-color: #bdd63d;
}
.member__line3::before {
  position: absolute;
  top: -2px;
  left: -1px;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #bdd63d;
}
.member__line3::after {
  position: absolute;
  bottom: -2px;
  left: -1px;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #bdd63d;
}
.slider-sections {
  position: relative;
}
.slider-sections__slide {
  color: #6c6c6d;
}
.slider-sections__slide h4 {
  position: relative;
  margin-top: 5px;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-bottom: 30px;
  border-top: 2px solid #b5b5b6;
  border-bottom: 2px solid #b5b5b6;
  font-size: 10px;
}
.slider-sections__slide h4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 70px;
  width: 2px;
  height: 68px;
  background-color: #b5b5b6;
}
.slider-sections__slide h4::after {
  content: '';
  position: absolute;
  top: 0;
  right: 70px;
  width: 2px;
  height: 68px;
  background-color: #b5b5b6;
}
.slider-sections__arrow {
  position: absolute;
  top: 70px;
  width: 72px;
  height: 400px;
}
.slider-sections__arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  border-top: 2px solid #1a1a1a;
  border-left: 2px solid #1a1a1a;
}
.slider-sections__arrow--left {
  left: 0;
  border-right: 2px solid #b5b5b6;
}
.slider-sections__arrow--left::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.slider-sections__arrow--right {
  right: 0;
  border-left: 2px solid #b5b5b6;
}
.slider-sections__arrow--right::before {
  transform: translate(-50%, -50%) rotate(135deg);
}
.slider-sections .member {
  display: block;
  width: 125px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.slider-sections .member__moderator {
  top: -50px;
  left: 0;
  transform: translatex(-20%);
}
.partner {
  margin-top: 75px;
  text-align: center;
  padding-bottom: 50px;
}
.partner h2 {
  width: 100%;
  padding-top: 110px;
  padding-bottom: 100px;
  color: #6c6c6d;
}
.partners {
  background-color: #f6f6f6;
  text-align: center;
}
.partners h2 {
  padding-top: 135px;
  padding-bottom: 30px;
  color: #666666;
}
.partners h3 {
  margin-bottom: 45px;
  color: #666666;
  font-size: 14px;
  text-transform: uppercase;
}
.partners a {
  display: block;
  margin-bottom: 30px;
}
.partners__business-partner a {
  margin-bottom: 50px;
}
.partners__media-partner a {
  margin-bottom: 60px;
}
.partners__other a {
  display: inline-block;
  width: 48%;
  margin-bottom: 45px;
  vertical-align: middle;
}
.organizers {
  padding-bottom: 70px;
  background-color: #fafafa;
  text-align: center;
}
.organizers h2 {
  padding-top: 60px;
  padding-bottom: 80px;
  color: #666666;
}
.organizers a {
  display: inline-block;
  width: 48%;
}
.faq {
  padding: 0 15px;
  color: #666666;
}
.faq h2 {
  padding-top: 70px;
  padding-bottom: 60px;
  text-transform: inherit;
}
.faq__list {
  margin-bottom: 45px;
}
.faq__item {
  margin-bottom: 5px;
  list-style: none;
  cursor: pointer;
}
.faq p {
  padding-bottom: 50px;
  font-size: 11px;
  text-align: left;
}
.contacts {
  background-color: #fafafa;
  color: #666666;
  padding-bottom: 15px;
}
.contacts h2 {
  padding-top: 45px;
  padding-bottom: 85px;
}
.contact {
  margin-bottom: 55px;
  text-align: center;
}
.contact h4 {
  margin-bottom: 25px;
}
.contact a {
  display: block;
  text-decoration: none;
}
.contact__phone {
  font-size: 19px;
  color: #666666;
}
.contact__mail {
  margin-bottom: 30px;
  font-size: 15px;
  color: #014357;
}
.contact__button {
  position: relative;
  width: 145px;
  height: 30px;
  padding-right: 20px;
  background-color: #1f8a70;
  font-family: BlissProHeavy;
  font-size: 12px;
  color: #fff;
  box-shadow: 3px 3px 10px rgba(1, 1, 1, 0.3);
}
.contact__button::before {
  content: '';
  position: absolute;
  top: 7px;
  right: 5px;
  width: 11px;
  height: 11px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.contact__button::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 9px;
  width: 4px;
  height: 4px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
}
.contact:last-of-type {
  margin-bottom: 0;
}
.volunteers {
  background-color: #f8f8f8;
  padding-bottom: 65px;
}
.volunteers h2 {
  margin-bottom: 50px;
  padding-top: 25px;
  padding-bottom: 50px;
  background-color: #6c6c6d;
  color: #fff;
}
.form-volunteers input {
  width: 100%;
  margin-bottom: 13px;
  padding: 12px;
  border: 1px solid #eaeaea;
}
.form-volunteers input::-webkit-input-placeholder {
  font-size: 10px;
  color: #999999;
}
.form-volunteers input::-moz-placeholder {
  font-size: 10px;
  color: #999999;
}
.form-volunteers input:-ms-input-placeholder {
  font-size: 10px;
  color: #999999;
}
.form-volunteers input::placeholder {
  font-size: 10px;
  color: #999999;
}
.form-volunteers textarea {
  width: 100%;
  padding: 12px;
  border: #eaeaea;
  border: 1px solid #eaeaea;
}
.form-volunteers textarea::-webkit-input-placeholder {
  font-size: 10px;
  color: #999999;
}
.form-volunteers textarea::-moz-placeholder {
  font-size: 10px;
  color: #999999;
}
.form-volunteers textarea:-ms-input-placeholder {
  font-size: 10px;
  color: #999999;
}
.form-volunteers textarea::placeholder {
  font-size: 10px;
  color: #999999;
}
.last-forums a {
  text-decoration: none;
}
.last-forums h2 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #6c6c6d;
  font-size: 12px;
  color: #fff;
}
.last-forums img {
  width: 100%;
  margin-bottom: -5px;
}
.footer {
  padding-top: 10px;
  padding-bottom: 7px;
  background-color: #232324;
  color: #fff;
  font-size: 12px;
}
.footer a {
  display: inline-block;
  width: 49%;
  text-decoration: none;
  color: #fff;
}
.footer p {
  display: inline-block;
  width: 49%;
  text-align: left;
}
.footer__copyright p {
  margin-top: 30px;
  width: 100%;
  font-size: 9px;
  text-align: left;
}
@media (min-width: 750px) {
  .main-wrapper {
    width: 750px;
    margin: 0 auto;
  }
}
@media (max-width: 300px) {
  .timetable__date--first {
    width: 50%;
  }
}
