html,
body {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  font-family: BlissProHeavy;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
.clearfix {
  content: '';
  display: block;
  clear: both;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
form * {
  outline: none;
}
textarea {
  resize: none;
}
.wrapper {
  width: 100%;
  padding: 0 16px;
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
h2 {
  font-size: 18px;
  text-transform: uppercase;
}
p {
  text-align: center;
}
.feedback {
  position: fixed;
  z-index: 100;
  bottom: 10px;
  left: 5px;
  width: 44px;
  height: 44px;
  border: 1px solid #728027;
  border-radius: 50%;
  background-color: #bdd63b;
  background-image: url('../images/feedback_phone.png');
  background-position: center;
  cursor: pointer;
}
.up {
  position: fixed;
  z-index: 100;
  bottom: 10px;
  right: 5px;
  width: 44px;
  height: 44px;
  border: 1px solid #83797b;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.up::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: translate(-50%, -25%) rotate(-45deg);
}
.hide {
  display: none;
}
@font-face {
  font-family: BlissProBold;
  src: url(../fonts/blisspro-bold.eot), url("../fonts/blisspro-bold.eot?#iefix") format("embedded-opentype"), url(../fonts/blisspro-bold.woff2) format('woff2');
}
@font-face {
  font-family: BlissProExtraBold;
  src: url(../fonts/blisspro-extrabold.eot), url("../fonts/blisspro-extrabold.eot?#iefix") format("embedded-opentype"), url(../fonts/blisspro-extrabold.woff2) format('woff2');
}
@font-face {
  font-family: BlissProHeavy;
  src: url(../fonts/blisspro-heavy.eot), url("../fonts/blisspro-heavy.eot?#iefix") format("embedded-opentype"), url(../fonts/blisspro-heavy.woff2) format('woff2');
}
@font-face {
  font-family: BlissProExtraLight;
  src: url(../fonts/blisspro-extralight.eot), url("../fonts/blisspro-extralight.eot?#iefix") format("embedded-opentype"), url(../fonts/blisspro-extralight.woff2) format('woff2');
}
@font-face {
  font-family: BlissProExtraLightItalic;
  src: url(../fonts/blisspro-extralightitalic.eot), url("../fonts/blisspro-extralightitalic.eot?#iefix") format("embedded-opentype"), url(../fonts/blisspro-extralightitalic.woff2) format('woff2');
}
@font-face {
  font-family: LatoBold;
  src: url(../fonts/Lato-Bold.eot), url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url(../fonts/Lato-Bold.woff2) format('woff2');
}
.header {
  position: relative;
}
.header__button-wrapper {
  background-color: #6d6d6e;
  text-align: center;
  padding: 5px;
  margin-right: 80px;
}
.header__button {
  width: 100%;
  max-width: 220px;
  padding: 18px 0;
  font-size: 20px;
  color: #fff;
  font-family: BlissProHeavy;
  background-color: #1f8a70;
  overflow: hidden;
}
.header__menu-button {
  float: right;
  width: 80px;
  height: 70px;
}
.header__button-line {
  width: 50px;
  height: 8px;
  margin: 0 auto;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #343434;
}
.header__button-line:last-of-type {
  margin-bottom: 0;
}
.header__dates {
  display: none;
}
.header__right {
  float: right;
}
.menu {
  position: absolute;
  z-index: 10;
  top: 70px;
  display: block;
  width: 100%;
  margin-left: -5px;
  list-style: none;
  background-color: #6d6d6e;
}
.menu__item {
  display: block;
  padding: 20px;
  border-top: 1px solid #1F8A70;
  color: #e0dedb;
  text-transform: uppercase;
  cursor: pointer;
}
.menu__item:hover {
  color: #fff;
}
.menu--hide {
  display: none;
}
.social {
  display: none;
}
.social a {
  text-decoration: none;
}
.social__button {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../images/social_sprite.png');
}
.social__button--yt {
  background-position: -25px 0;
}
.modal-registration {
  position: absolute;
  z-index: 10;
  top: 255px;
  background-color: #f8f8f8;
}
.modal-registration__close {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.modal-registration__close::before {
  content: '';
  position: absolute;
  top: 3px;
  left: -1px;
  width: 12px;
  height: 3px;
  background-color: #f6f6f6;
  transform: rotate(45deg);
}
.modal-registration__close::after {
  content: '';
  position: absolute;
  top: 3px;
  left: -1px;
  width: 12px;
  height: 3px;
  background-color: #f6f6f6;
  transform: rotate(-45deg);
}
.modal-registration form {
  position: relative;
  font-size: 10px;
  text-align: center;
  color: #6c6c6d;
}
.modal-registration form h2 {
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  margin-bottom: 55px;
  background-color: #6c6c6d;
  color: #f6f6f6;
}
.modal-registration form input {
  width: 100%;
  margin-bottom: 14px;
  padding: 15px;
  border: 1px solid #ececec;
}
.modal-registration form input::-webkit-input-placeholder {
  font-family: BlissProHeavy;
  font-size: 11px;
  color: #999999;
}
.modal-registration form input::-moz-placeholder {
  font-family: BlissProHeavy;
  font-size: 11px;
  color: #999999;
}
.modal-registration form input:-ms-input-placeholder {
  font-family: BlissProHeavy;
  font-size: 11px;
  color: #999999;
}
.modal-registration form input::placeholder {
  font-family: BlissProHeavy;
  font-size: 11px;
  color: #999999;
}
.modal-registration form textarea {
  width: 98%;
  height: 120px;
  padding: 15px;
  margin-bottom: 80px;
  border: 1px solid #ececec;
}
.modal-registration form textarea::-webkit-input-placeholder {
  font-family: BlissProHeavy;
  font-size: 11px;
  color: #999999;
}
.modal-registration form textarea::-moz-placeholder {
  font-family: BlissProHeavy;
  font-size: 11px;
  color: #999999;
}
.modal-registration form textarea:-ms-input-placeholder {
  font-family: BlissProHeavy;
  font-size: 11px;
  color: #999999;
}
.modal-registration form textarea::placeholder {
  font-family: BlissProHeavy;
  font-size: 11px;
  color: #999999;
}
.modal-registration form p {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: left;
}
.modal-registration__button {
  border: 1px solid #4aa08b;
  background-color: #1f8a70;
  font-family: BlissProHeavy;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.modal-registration__checkbox {
  position: relative;
  display: inline-block;
  width: 48%;
  margin-bottom: 35px;
  text-align: left;
}
.modal-registration__checkbox:last-of-type {
  margin-right: 49%;
  margin-bottom: 25px;
}
.modal-registration__checkbox label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}
.modal-registration__checkbox input[type="checkbox"] {
  position: absolute;
  z-index: 11;
  opacity: 0;
  cursor: pointer;
}
.modal-registration__checkbox input[type="checkbox"]:not(checked) + label::before {
  content: '';
  position: absolute;
  left: 10px;
  width: 12px;
  height: 12px;
  border: 1px solid #eaeaea;
  background-color: #fff;
}
.modal-registration__checkbox input[type="checkbox"]:checked + label::after {
  content: '';
  position: absolute;
  z-index: 11;
  top: 0px;
  left: 10px;
  width: 15px;
  height: 5px;
  border-top: 2px solid #6c6c6d;
  border-right: 2px solid #6c6c6d;
  transform: rotate(135deg);
}
.cost {
  position: absolute;
  z-index: 10;
  top: 110px;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  text-align: center;
}
.cost h2 {
  padding-top: 12px;
  padding-bottom: 45px;
  font-size: 18px;
  color: #6c6c6d;
  text-transform: inherit;
}
.cost h3 {
  font-size: 14px;
  color: #bdd63d;
}
.cost__close {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.cost__close::before {
  content: '';
  position: absolute;
  top: 3px;
  left: -1px;
  width: 12px;
  height: 3px;
  background-color: #6c6c6d;
  transform: rotate(45deg);
}
.cost__close::after {
  content: '';
  position: absolute;
  top: 3px;
  left: -1px;
  width: 12px;
  height: 3px;
  background-color: #6c6c6d;
  transform: rotate(-45deg);
}
.price {
  width: 220px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #edf3fa;
  cursor: pointer;
}
.price:hover {
  background-color: #bdd63d;
}
.price:hover h3 {
  color: #fff;
}
.price:hover .price__item {
  color: #fff;
}
.price:hover .price__button {
  border: 2px solid #fff;
  color: #fff;
}
.price:hover .price__button:hover {
  border: 2px solid #6c6c6d;
}
.price h3 {
  margin-bottom: 25px;
}
.price__list {
  margin-bottom: 20px;
}
.price__item {
  list-style: none;
  font-size: 11px;
  color: #4d4d4c;
  line-height: 18px;
}
.price__button {
  padding: 12px 20px;
  border: 2px solid #6c6c6d;
  border-radius: 30px;
}
.first {
  margin-bottom: 80px;
  overflow: hidden;
}
.first .wrapper {
  background-image: url(../images/logo_w_text.png);
  background-position: center 75px;
  background-size: 190px;
}
.first__text {
  padding-top: 205px;
}
.first__text p {
  margin-bottom: 25px;
  color: #7d7d7d;
  text-align: center;
}
.first__text h1 {
  margin-bottom: 40px;
  font-size: 35px;
  color: #6c6c6d;
  text-transform: uppercase;
}
.first__button {
  display: none;
}
.video {
  position: relative;
  overflow: hidden;
}
.video img {
  display: block;
  width: 100%;
  margin-bottom: 0;
}
.video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.video__play-button::after {
  content: '';
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translatey(-50%);
  border: 20px solid transparent;
  border-left: 20px solid rgba(1, 1, 1, 0.5);
}
.mission {
  margin-bottom: 50px;
}
.mission h2 {
  margin-bottom: 80px;
}
.mission p {
  font-size: 18px;
  color: #666666;
}
.questions {
  margin-bottom: 80px;
  background-color: #0b87a2;
  color: #fff;
}
.questions__header {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 55px;
  background-color: #045970;
}
.slider {
  position: relative;
}
.slider__arrow {
  position: absolute;
  top: 50%;
  border-top: 1px solid #3c9fb5;
  border-right: 1px solid #3c9fb5;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.slider__arrow--left {
  left: 20px;
  transform: rotate(-135deg);
}
.slider__arrow--right {
  right: 20px;
  transform: rotate(45deg);
}
.slider__bullets {
  text-align: center;
  padding-bottom: 35px;
}
.slider__bullets ul li {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #6ab6c6;
  border-radius: 50%;
  cursor: pointer;
}
.slider__bullets ul .active-bullet {
  background-color: #fff;
  border: 1px solid #fff;
}
.slide {
  vertical-align: bottom;
}
.slide p {
  margin: 0 auto;
  padding-top: 105px;
  padding-bottom: 65px;
  font-size: 18px;
}
.business-missions {
  color: #484e5c;
}
.business-missions h2 {
  margin-bottom: 40px;
  color: #666666;
}
.business-missions__text {
  font-size: 18px;
  margin-bottom: 95px;
}
.business-missions__more {
  position: relative;
  height: 100px;
  cursor: pointer;
}
.business-missions__more::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: translate(-50%, -70%) rotate(135deg);
}
.business-missions__tablet {
  display: none;
}
.business-missions__desktop {
  display: none;
}
.question {
  position: relative;
  margin-bottom: 27px;
}
.question img {
  width: 100%;
  margin-bottom: 27px;
}
.question h3 {
  margin-bottom: 15px;
  color: #515255;
  font-size: 14px;
}
.question p {
  width: 70%;
  margin: 0 auto;
  font-size: 12.5px;
  color: #7a7875;
}
.question__more-button {
  position: absolute;
  right: 30px;
  bottom: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}
.question__more-button::after {
  content: '';
  position: absolute;
  top: 2px;
  right: 3.5px;
  width: 5px;
  height: 5px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
}
.directions {
  background-color: #f3f4f6;
}
.directions__header {
  position: relative;
  padding-top: 50px;
  padding-bottom: 115px;
}
.directions__header h2 {
  color: #666666;
}
.direction {
  position: relative;
  text-align: center;
}
.direction__header {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 25px;
  background-color: #6c6c6d;
}
.direction__header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background-color: #1f8a70;
}
.direction__header h2 {
  font-size: 16px;
  color: #fff;
}
.direction__more-header {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translatex(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.direction__more-header::after {
  content: '';
  position: absolute;
  top: 2px;
  right: 3.5px;
  width: 5px;
  height: 5px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
}
.direction p {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 155px;
  color: #666666;
}
.direction__more {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translatex(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 50%;
}
.direction__more::after {
  content: '';
  position: absolute;
  top: 2px;
  right: 3.5px;
  width: 5px;
  height: 5px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
}
.speakers {
  background-color: #f7f8fb;
  text-align: center;
}
.speakers__header {
  padding: 85px 0;
}
.speakers__header h2 {
  color: #666666;
}
.speakers__more {
  position: relative;
  height: 40px;
  cursor: pointer;
}
.speakers__more::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: translatex(-50%) rotate(135deg);
}
.speakers__tablet {
  display: none;
}
.speakers__desktop {
  display: none;
}
.speaker {
  position: relative;
  margin-bottom: 65px;
  text-align: center;
}
.speaker img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
.speaker__name {
  margin-bottom: 10px;
  font-size: 18px;
  color: #666666;
}
.speaker__company {
  font-size: 14px;
  color: #bdd63d;
}
.speaker-details {
  position: absolute;
  z-index: 1;
  top: 0;
  margin-bottom: 40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #fff;
  text-align: center;
}
.speaker-details__header {
  padding: 15px 0;
  margin-bottom: 12px;
  background-color: #6c6c6d;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #fff;
  font-size: 13px;
}
.speaker-details__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.speaker-details__close::before {
  content: '';
  position: absolute;
  top: 15px;
  right: 15px;
  width: 2px;
  height: 12px;
  background-color: #e1e1e1;
  transform: rotate(45deg);
}
.speaker-details__close::after {
  content: '';
  position: absolute;
  top: 15px;
  right: 15px;
  width: 2px;
  height: 12px;
  background-color: #e1e1e1;
  transform: rotate(-45deg);
}
.speaker-details__avatar {
  margin-bottom: 10px;
}
.speaker-details__name {
  margin-bottom: 15px;
  font-size: 16px;
  color: #515255;
  text-align: left;
}
.speaker-details__description {
  margin-bottom: 25px;
  color: #b2b2b2;
  font-size: 14px;
  text-align: left;
}
.speaker-details__company {
  margin-bottom: 40px;
  font-size: 12px;
  text-align: left;
  color: #515255;
}
.speaker-details__position {
  padding-bottom: 55px;
  font-size: 12px;
  text-align: left;
  color: #515255;
}
.timetable h2 {
  padding-top: 75px;
  padding-bottom: 75px;
  color: #666666;
}
.timetable__dates {
  position: relative;
  height: 65px;
  margin-bottom: 55px;
}
.timetable__dates h2 {
  padding-top: 23px;
  padding-bottom: 17px;
  font-family: BlissProExtraBold;
  font-size: 20px;
  text-transform: inherit;
  letter-spacing: 3px;
  color: #fff;
}
.timetable__dates--second {
  margin-top: 40px;
  margin-bottom: 15px;
}
.timetable__date {
  position: absolute;
  display: inline-block;
}
.timetable__date--first {
  z-index: 1;
  left: 0;
  width: 60%;
  background-color: #fee010;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.timetable__date--first h2 {
  text-align: left;
  margin-left: 16px;
}
.timetable__date--second {
  right: 0;
  width: 60%;
  background-color: #6c6c6d;
}
.timetable__date--second h2 {
  text-align: right;
  margin-right: 16px;
}
.timetable__date--third {
  right: 0;
  width: 60%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #fee010;
}
.timetable__date--third h2 {
  text-align: right;
  margin-right: 16px;
}
.timetable__download {
  float: right;
  margin-top: 30px;
  margin-right: 15px;
  padding-top: 15px;
  padding-right: 30px;
  background-image: url('../images/pdf_download.png');
  background-position: right;
  font-size: 12px;
  text-transform: inherit;
  font-family: BlissProHeavy;
}
.time {
  margin-bottom: 15px;
}
.time__header {
  height: 65px;
  width: 100%;
  margin-left: -15px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #fff;
}
.time__header p {
  display: inline-block;
  margin-left: 30px;
  margin-right: 15px;
  padding-top: 25px;
  font-size: 15px;
}
.time__header--not-important {
  background-color: #1f8a70;
}
.time__header--important {
  background-color: #6c6c6d;
}
.time__description {
  width: 65%;
  display: inline-block;
  margin-top: -4px;
  vertical-align: middle;
}
.time__description p {
  width: 100%;
  padding: 0;
  font-size: 18px;
  text-align: left;
  margin-left: 0;
}
.time__description--little p {
  font-size: 14px;
}
.time__about {
  width: 100%;
  margin-top: 5px;
  padding: 15px;
  padding-bottom: 10px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #d6d6d7;
}
.time__about p {
  font-size: 12px;
  color: #6c6c6d;
}
.members {
  max-width: 260px;
  margin: 0 auto;
  margin-top: 40px;
}
.member {
  position: relative;
  display: inline-block;
  width: 49%;
  margin-bottom: 30px;
  text-align: center;
  vertical-align: top;
}
.member img {
  width: 55px;
  margin-bottom: 5px;
}
.member__moderator {
  position: absolute;
  top: 22px;
  right: -80px;
  font-size: 14px;
  color: #666666;
}
.member__about {
  position: relative;
}
.member__about p {
  position: relative;
  font-size: 8px;
}
.member__left {
  position: relative;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.member__left p {
  text-align: left;
}
.member__more {
  position: absolute;
  right: 6px;
  bottom: 0;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}
.member__more::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 50%;
  width: 3px;
  height: 3px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: translatex(-50%) rotate(45deg);
}
.member__right {
  margin-top: 5px;
  display: inline-block;
  width: 46%;
  vertical-align: top;
}
.member__right p {
  text-align: left;
}
.member__circle {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translatex(-50%);
  width: 77px;
  height: 77px;
  border-radius: 50%;
  border: 2px solid #bdd63d;
}
.member__circle--moderator {
  border-color: #fee746;
}
.member__line1 {
  position: absolute;
  top: 68px;
  left: 49%;
  width: 2px;
  height: 20px;
  background-color: #bdd63d;
}
.member__line1::before {
  position: absolute;
  top: -2px;
  left: -1px;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #bdd63d;
}
.member__line1::after {
  position: absolute;
  bottom: -2px;
  left: -1px;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #bdd63d;
}
.member__line1--moderator {
  background-color: #fee746;
}
.member__line1--moderator::before {
  background-color: #fee746;
}
.member__line1--moderator::after {
  background-color: #fee746;
}
.member__line2 {
  position: absolute;
  top: 30px;
  left: 102px;
  width: 20px;
  height: 2px;
  background-color: #bdd63d;
}
.member__line2::before {
  position: absolute;
  top: -1px;
  left: -2px;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #bdd63d;
}
.member__line2::after {
  position: absolute;
  top: -1px;
  right: -2px;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #bdd63d;
}
.member__line3 {
  position: absolute;
  top: -32px;
  left: 49%;
  width: 2px;
  height: 20px;
  background-color: #bdd63d;
}
.member__line3::before {
  position: absolute;
  top: -2px;
  left: -1px;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #bdd63d;
}
.member__line3::after {
  position: absolute;
  bottom: -2px;
  left: -1px;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #bdd63d;
}
.slider-sections {
  position: relative;
}
.slider-sections__slide {
  color: #6c6c6d;
}
.slider-sections__slide h4 {
  position: relative;
  margin-top: 5px;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-bottom: 30px;
  border-top: 2px solid #b5b5b6;
  border-bottom: 2px solid #b5b5b6;
  font-size: 10px;
}
.slider-sections__slide h4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 70px;
  width: 2px;
  height: 68px;
  background-color: #b5b5b6;
}
.slider-sections__slide h4::after {
  content: '';
  position: absolute;
  top: 0;
  right: 70px;
  width: 2px;
  height: 68px;
  background-color: #b5b5b6;
}
.slider-sections__arrow {
  position: absolute;
  top: 70px;
  width: 72px;
  height: 400px;
  cursor: pointer;
}
.slider-sections__arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  border-top: 2px solid #1a1a1a;
  border-left: 2px solid #1a1a1a;
}
.slider-sections__arrow--left {
  left: 0;
  border-right: 2px solid #b5b5b6;
}
.slider-sections__arrow--left::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.slider-sections__arrow--right {
  right: 0;
  border-left: 2px solid #b5b5b6;
}
.slider-sections__arrow--right::before {
  transform: translate(-50%, -50%) rotate(135deg);
}
.slider-sections__tablet {
  display: none;
}
.slider-sections .member {
  display: block;
  width: 125px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.slider-sections .member__moderator {
  top: -50px;
  left: 0;
  transform: translatex(-20%);
}
.slider-sections__rounded-header {
  width: 98%;
  border-right: 2px solid #b5b5b6;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
}
.partner {
  margin-top: 75px;
  text-align: center;
  padding-bottom: 50px;
}
.partner h2 {
  width: 100%;
  padding-top: 110px;
  padding-bottom: 100px;
  color: #6c6c6d;
}
.partners {
  background-color: #f6f6f6;
  text-align: center;
}
.partners h2 {
  padding-top: 135px;
  padding-bottom: 30px;
  color: #666666;
}
.partners h3 {
  margin-bottom: 45px;
  color: #666666;
  font-size: 14px;
  text-transform: uppercase;
}
.partners h3:first-of-type {
  font-size: 18px;
}
.partners h4 {
  margin-bottom: 45px;
  color: #666666;
  font-size: 18px;
  text-transform: uppercase;
}
.partners a {
  display: block;
  margin-bottom: 30px;
}
.partners__partner a {
  margin-bottom: 50px;
  vertical-align: bottom;
}
.partners__other {
  text-align: center;
}
.partners__other a {
  display: inline-block;
  width: 48%;
  margin-bottom: 45px;
  vertical-align: middle;
}
.organizers {
  padding-bottom: 70px;
  background-color: #fafafa;
  text-align: center;
}
.organizers h2 {
  padding-top: 60px;
  padding-bottom: 80px;
  color: #666666;
}
.organizers a {
  display: inline-block;
  width: 48%;
}
.faq {
  padding: 0 15px;
  color: #666666;
}
.faq h2 {
  padding-top: 70px;
  padding-bottom: 60px;
  text-transform: inherit;
}
.faq__list {
  margin-bottom: 45px;
}
.faq__item {
  margin-bottom: 5px;
  list-style: none;
  font-size: 14px;
  cursor: pointer;
}
.faq p {
  padding-bottom: 50px;
  font-size: 11px;
  text-align: left;
}
.contacts {
  background-color: #fafafa;
  color: #666666;
  padding-bottom: 15px;
  text-align: center;
}
.contacts h2 {
  padding-top: 45px;
  padding-bottom: 85px;
}
.contact {
  margin-bottom: 55px;
  text-align: center;
}
.contact h4 {
  margin-bottom: 25px;
}
.contact a {
  display: block;
  text-decoration: none;
}
.contact__phone {
  font-size: 19px;
  color: #666666;
}
.contact__mail {
  margin-bottom: 30px;
  font-size: 15px;
  color: #014357;
}
.contact__button {
  position: relative;
  width: 145px;
  height: 30px;
  padding-right: 20px;
  background-color: #1f8a70;
  font-family: BlissProHeavy;
  font-size: 12px;
  color: #fff;
  box-shadow: 3px 3px 10px rgba(1, 1, 1, 0.3);
}
.contact__button::before {
  content: '';
  position: absolute;
  top: 7px;
  right: 5px;
  width: 11px;
  height: 11px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.contact__button::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 9px;
  width: 4px;
  height: 4px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
}
.contact:last-of-type {
  margin-bottom: 0;
}
.volunteers {
  background-color: #f8f8f8;
  padding-bottom: 65px;
}
.volunteers h2 {
  margin-bottom: 50px;
  padding-top: 25px;
  padding-bottom: 50px;
  background-color: #6c6c6d;
  color: #fff;
}
.form-volunteers {
  text-align: center;
}
.form-volunteers input {
  width: 100%;
  margin-bottom: 13px;
  padding: 12px;
  border: 1px solid #eaeaea;
}
.form-volunteers input::-webkit-input-placeholder {
  font-size: 10px;
  color: #999999;
}
.form-volunteers input::-moz-placeholder {
  font-size: 10px;
  color: #999999;
}
.form-volunteers input:-ms-input-placeholder {
  font-size: 10px;
  color: #999999;
}
.form-volunteers input::placeholder {
  font-size: 10px;
  color: #999999;
}
.form-volunteers textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border: #eaeaea;
  border: 1px solid #eaeaea;
}
.form-volunteers textarea::-webkit-input-placeholder {
  font-size: 10px;
  color: #999999;
}
.form-volunteers textarea::-moz-placeholder {
  font-size: 10px;
  color: #999999;
}
.form-volunteers textarea:-ms-input-placeholder {
  font-size: 10px;
  color: #999999;
}
.form-volunteers textarea::placeholder {
  font-size: 10px;
  color: #999999;
}
.form-volunteers__button {
  border: 1px solid #4aa08b;
  background-color: #1f8a70;
  font-family: BlissProHeavy;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.last-forums a {
  text-decoration: none;
}
.last-forums h2 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #6c6c6d;
  font-size: 12px;
  color: #fff;
}
.last-forums img {
  width: 100%;
  margin-bottom: -5px;
}
.last-forums__tablet {
  display: none;
}
.footer {
  padding-top: 10px;
  padding-bottom: 7px;
  background-color: #232324;
  color: #fff;
  font-size: 12px;
}
.footer a {
  display: inline-block;
  width: 49%;
  text-decoration: none;
  color: #fff;
}
.footer p {
  display: inline-block;
  width: 49%;
  text-align: left;
}
.footer__copyright p {
  margin-top: 30px;
  width: 100%;
  font-size: 9px;
  text-align: left;
}
@media (min-width: 750px) {
  .wrapper {
    width: 728px;
    margin: 0 auto;
  }
  .header__button-wrapper {
    margin-right: 100px;
  }
  .header__menu-button {
    width: 100px;
  }
  .modal-registration {
    top: 420px;
    left: 50%;
    transform: translatex(-50%);
    width: 720px;
  }
  .modal-registration__close {
    right: 10px;
  }
  .modal-registration form h2 {
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 24px;
  }
  .modal-registration form input {
    width: 48%;
  }
  .modal-registration form input:nth-of-type(2n-1) {
    margin-right: 20px;
  }
  .modal-registration form input:nth-of-type(9) {
    margin-right: 50.5%;
  }
  .modal-registration form textarea {
    margin-bottom: 35px;
  }
  .modal-registration form p {
    margin-top: 0;
    margin-left: 10px;
  }
  .modal-registration__checkbox {
    width: auto;
  }
  .modal-registration__checkbox:last-of-type {
    margin-right: 35px;
  }
  .cost {
    top: 320px;
    width: 720px;
    left: 50%;
    transform: translatex(-50%);
  }
  .cost__close {
    right: 10px;
  }
  .price {
    display: inline-block;
    margin-right: 15px;
  }
  .price:last-of-type {
    margin-right: 0;
  }
  .first {
    margin-bottom: 50px;
  }
  .first .wrapper {
    background-position: center 115px;
    background-size: 340px;
  }
  .first__text {
    padding-top: 420px;
  }
  .first__text p {
    margin-bottom: 50px;
    font-size: 22px;
    text-transform: uppercase;
  }
  .first__text h1 {
    margin-bottom: 140px;
    font-size: 65px;
  }
  .video img {
    width: 100%;
    height: auto;
  }
  .questions {
    margin-bottom: 70px;
  }
  .slider__arrow {
    top: 100px;
    width: 40px;
    height: 40px;
  }
  .slider__arrow--left {
    left: 30px;
  }
  .slider__arrow--right {
    right: 30px;
  }
  .slider__bullets {
    padding-bottom: 30px;
  }
  .slide p {
    padding-top: 100px;
    padding-bottom: 110px;
  }
  .business-missions {
    text-align: center;
  }
  .business-missions h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .business-missions__more {
    height: 50px;
  }
  .business-missions__tablet {
    display: inline-block;
    width: 300px;
  }
  .question {
    display: inline-block;
    width: 300px;
  }
  .direction {
    display: inline-block;
    width: 33.4%;
    margin-right: -4px;
    vertical-align: top;
  }
  .direction:nth-of-type(3) .direction__header {
    background-color: #1f8a70;
  }
  .direction__header::before {
    display: none;
  }
  .direction__more-header {
    display: none;
  }
  .direction p {
    margin-bottom: 50px;
  }
  .direction__more {
    display: none;
  }
  .speakers__header {
    padding-bottom: 105px;
  }
  .speakers__tablet {
    display: inline-block;
  }
  .speaker {
    display: inline-block;
    width: 180px;
    margin-bottom: 45px;
  }
  .speaker__name {
    margin-bottom: 5px;
  }
  .timetable__dates {
    height: 95px;
  }
  .timetable__dates h2 {
    padding-top: 30px;
    padding-bottom: 25px;
    font-size: 30px;
    letter-spacing: 4px;
  }
  .timetable__date--first {
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
  }
  .timetable__date--first h2 {
    margin-left: 90px;
  }
  .timetable__date--second h2 {
    margin-right: 90px;
  }
  .timetable__date--third {
    width: 235px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
  }
  .timetable__date--third h2 {
    margin-right: 30px;
  }
  .timetable__download {
    margin-top: 70px;
  }
  .time__header {
    height: 95px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
  }
  .time__header p {
    font-size: 30px;
  }
  .time__header--not-important {
    margin-left: -30px;
  }
  .time__header--not-important p {
    margin-left: 45px;
  }
  .time__header--not-important .time__description p {
    margin-left: 0;
  }
  .time__description {
    margin-top: -14px;
  }
  .time__about {
    margin-left: -20px;
    height: 95px;
    background-color: #fcfdff;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
  }
  .time__about p {
    padding-top: 5px;
    padding-right: 75px;
    padding-left: 75px;
    font-size: 18px;
  }
  .members {
    width: 710px;
    max-width: none;
  }
  .member {
    width: 24%;
  }
  .member img {
    width: 80px;
  }
  .member__moderator {
    top: 28px;
    right: -100px;
    font-size: 20px;
  }
  .member__left p {
    font-size: 12px;
  }
  .member__left p:nth-of-type(2) {
    font-size: 10px;
  }
  .member__circle {
    width: 100px;
    height: 100px;
  }
  .member__line1 {
    top: 90px;
    height: 40px;
  }
  .member__line2 {
    top: 40px;
    left: 135px;
  }
  .slider-sections {
    width: 720px;
    margin: 0 auto;
  }
  .slider-sections__slide {
    display: inline-block;
    width: 33%;
  }
  .slider-sections__slide h4 {
    margin-top: 0;
    margin-bottom: 70px;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 15px;
  }
  .slider-sections__slide h4::before {
    top: -2px;
    left: -900px;
    height: 2px;
    width: 1000px;
  }
  .slider-sections__slide h4::after {
    top: 88px;
    left: -900px;
    height: 2px;
    width: 1000px;
  }
  .slider-sections__arrow {
    display: none;
  }
  .slider-sections__tablet {
    display: inline-block;
    width: 33%;
    margin-top: 5px;
    margin-left: -4px;
    border-left: 2px solid #b5b5b6;
  }
  .slider-sections__tablet .slider-sections__slide {
    width: 100%;
  }
  .slider-sections .member {
    width: 150px;
  }
  .slider-sections .member__moderator {
    top: -65px;
  }
  .partner {
    margin-top: 90px;
    padding-bottom: 10px;
  }
  .partner h2 {
    padding-bottom: 120px;
    font-size: 24px;
  }
  .partners h2 {
    padding-bottom: 100px;
    font-size: 24px;
  }
  .partners h4 {
    margin-bottom: 60px;
    font-size: 14px;
  }
  .partners a {
    display: inline-block;
    margin-right: 65px;
    margin-bottom: 100px;
  }
  .partners a:last-of-type {
    margin-right: 0;
  }
  .partners__partner {
    display: inline-block;
    margin-right: 35px;
    vertical-align: top;
  }
  .partners__other a {
    width: 24%;
    margin: 0;
    margin-bottom: 45px;
  }
  .organizers h2 {
    padding-top: 45px;
  }
  .faq__list {
    display: inline-block;
    width: 49%;
  }
  .faq__item {
    font-size: 18px;
  }
  .faq p {
    display: inline-block;
    width: 49%;
    font-size: 14px;
    vertical-align: top;
  }
  .contact {
    display: inline-block;
    margin-right: 15px;
  }
  .contact:last-of-type {
    margin-right: 0;
  }
  .form-volunteers input {
    width: 48.5%;
  }
  .form-volunteers input:nth-of-type(2n-1) {
    margin-right: 17px;
  }
  .form-volunteers input[type=submit] {
    width: 130px;
  }
  .last-forums h2 {
    font-size: 18px;
  }
  .last-forums img {
    width: 20%;
    height: 100px;
    margin-right: -4px;
  }
  .last-forums__tablet {
    display: inline-block;
    width: 20%;
    margin-right: -4px;
  }
  .last-forums__tablet img {
    width: 100%;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .footer a {
    width: 24%;
  }
  .footer p {
    width: 24%;
  }
  .footer__copyright p {
    width: 100%;
    margin-top: 0;
    font-size: 12px;
  }
  .footer__copyright {
    display: inline-block;
    width: 49%;
  }
}
@media (min-width: 950px) {
  .wrapper {
    width: 950px;
  }
  .header__button-wrapper {
    margin-right: 0;
    padding: 0;
  }
  .header__button {
    display: none;
  }
  .header__menu-button {
    display: none;
  }
  .header__dates {
    display: inline-block;
    padding: 25px 20px;
    margin-right: -3px;
    background-color: #fee010;
  }
  .header__dates p {
    text-transform: uppercase;
    color: #fff;
  }
  .menu {
    position: relative;
    top: 0;
    display: inline-block;
    width: auto;
    padding: 25px 0;
    margin: 0 auto;
  }
  .menu__item {
    display: inline-block;
    margin-right: 9px;
    padding: 0;
    border: none;
    font-size: 13px;
  }
  .social {
    display: inline-block;
    width: 70px;
    padding: 21px 12px;
    background-color: #014357;
    vertical-align: middle;
  }
  .modal-registration {
    top: 215px;
    width: 940px;
  }
  .modal-registration form h2 {
    font-size: 32px;
  }
  .modal-registration form input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .modal-registration form input::-moz-placeholder {
    font-size: 14px;
  }
  .modal-registration form input:-ms-input-placeholder {
    font-size: 14px;
  }
  .modal-registration form input::placeholder {
    font-size: 14px;
  }
  .modal-registration form textarea::-webkit-input-placeholder {
    font-size: 14px;
  }
  .modal-registration form textarea::-moz-placeholder {
    font-size: 14px;
  }
  .modal-registration form textarea:-ms-input-placeholder {
    font-size: 14px;
  }
  .modal-registration form textarea::placeholder {
    font-size: 14px;
  }
  .modal-registration form p {
    font-size: 14px;
  }
  .modal-registration__checkbox {
    margin-right: 55px;
  }
  .modal-registration__checkbox label {
    font-size: 14px;
  }
  .cost {
    top: 110px;
    width: 940px;
  }
  .cost h2 {
    font-size: 24px;
  }
  .cost h3 {
    font-size: 18px;
  }
  .price {
    width: 285px;
  }
  .price__item {
    font-size: 12px;
  }
  .price__button {
    font-size: 16px;
  }
  .first {
    text-align: right;
    background-position: center 175px;
  }
  .first .wrapper {
    background-position: 16px 175px;
  }
  .first__text {
    display: inline-block;
    width: 540px;
    padding-top: 150px;
  }
  .first__text h1 {
    margin-bottom: 80px;
  }
  .first__button {
    display: block;
    width: 220px;
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 18px 0;
    font-size: 20px;
    color: #fff;
    font-family: BlissProHeavy;
    background-color: #1f8a70;
    overflow: hidden;
  }
  .video__play-button {
    width: 130px;
    height: 130px;
  }
  .mission p {
    width: 620px;
    margin: 0 auto;
  }
  .slide p {
    font-size: 27px;
  }
  .business-missions__text {
    margin-bottom: 25px;
    text-align: left;
  }
  .business-missions__desktop {
    display: inline-block;
    width: 300px;
    margin-right: 0;
  }
  .business-missions__desktop .question {
    width: 100%;
    margin: 0;
  }
  .directions {
    text-align: center;
  }
  .direction {
    width: 250px;
  }
  .speakers br {
    display: none;
  }
  .speakers__desktop {
    display: inline-block;
  }
  .speaker {
    width: 150px;
  }
  .timetable__dates h2 {
    font-size: 32px;
  }
  .timetable__date--first {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .timetable__date--third {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .time__header {
    height: 95px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .time__header p {
    font-size: 32px;
  }
  .time__header--not-important {
    margin-left: -125px;
  }
  .time__header--not-important p {
    margin-left: 150px;
  }
  .time__about p {
    font-size: 24px;
  }
  .members {
    width: 920px;
  }
  .member__line2 {
    left: 160px;
  }
  .slider-sections {
    width: 920px;
  }
  .organizers a {
    width: 30%;
  }
  .contact__phone {
    font-size: 24px;
  }
  .contact__mail {
    font-size: 18px;
  }
  .contact__button {
    font-size: 14px;
  }
}
@media (max-width: 300px) {
  .timetable__date--first {
    width: 50%;
  }
}
