.contacts {
	background-color: #fafafa;
	color: #666666;
	padding-bottom: 15px;
	text-align: center;

	h2 {
		padding-top: 45px;
		padding-bottom: 85px;
	}
}

.contact {
	position: relative;
	margin-bottom: 55px;
	text-align: center;

	@media @tablet {
		display: inline-block;
		margin-right: 15px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	h4 {
		margin-bottom: 25px;
	}

	a {
		display: block;
		text-decoration: none;
	}

	&__phone {
		font-size: 19px;
		color: #666666;

		@media @desktop {
			font-size: 24px;
		}
	}

	&__mail {
		margin-bottom: 30px;
		font-size: 15px;
		color: #014357;

		@media @desktop {
			font-size: 18px;
		}
	}

	&__button {
		position: relative;
		width: 145px;
		height: 30px;
		padding-right: 20px;
		background-color: #1f8a70;
		font-family: BlissProHeavy;
		font-size: 12px;
		color: #fff;
		box-shadow: 3px 3px 10px rgba(1, 1, 1, 0.3);

		@media @desktop {
			width: 160px;
			font-size: 14px;
		}

		&::before {
			content:'';
			position: absolute;
			top: 7px;
			right: 5px;
			width: 11px;
			height: 11px;
			border: 2px solid #fff;
			border-radius: 50%;
		}

		&::after {
			content:'';
			position: absolute;
			top: 10px;
			right: 9px;
			width: 4px;
			height: 4px;
			border-right: 2px solid #fff;
			border-bottom: 2px solid #fff;
			transform: rotate(45deg);
		}
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	&__info {
		position: absolute;
		z-index: 10;
		top: 150px;
		left: ~"calc(50% - 110px)";
		width: 220px;
		height: 160px;
		padding: 25px 10px;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

		@media @desktop {
			top: 160px;
		}
	}

	&__hide {
		position: absolute;
		left: 50%;
		bottom: 7px;
		width: 16px;
		height: 16px;
		border: 2px solid #000;
		border-radius: 50%;
		transform: translatex(-50%);
		cursor: pointer;

		&::after {
			content:'';
			position: absolute;
			bottom: 2px;
			left: 50%;
			width: 4px;
			height: 4px;
			border-right: 2px solid #000;
			border-bottom: 2px solid #000;
			transform: translatex(-50%) rotate(-135deg);
		}
	}
}