.cost {
	position: absolute;
	z-index: 10;
	top: 110px;
	width: 100%;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	background-color: #f8f8f8;
	text-align: center;

	@media @tablet {
		top: 320px;
		left: ~"calc(50% - 280px)";
		width: 560px;
	}

	@media @desktop {
		top: 110px;
		left: ~"calc(50% - 340px)";
		width: 680px;
	}

	h2 {
		padding-top: 12px;
		padding-bottom: 45px;
		font-size: 18px;
		color: #6c6c6d;
		text-transform: inherit;

		@media @desktop {
			font-size: 24px;
		}
	}

	h3 {
		font-size: 14px;
		color: #bdd63d;

		@media @desktop {
			font-size: 18px;
		}
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 20px;
		width: 12px;
		height: 12px;
		cursor: pointer;

		@media @tablet {
			right: 10px;
		}

		&::before {
			content: '';
			position: absolute;
			top: 3px;
			left: -1px;
			width: 12px;
			height: 3px;
			background-color: #6c6c6d;
			transform: rotate(45deg);
		}

		&::after {
			content: '';
			position: absolute;
			top: 3px;
			left: -1px;
			width: 12px;
			height: 3px;
			background-color: #6c6c6d;
			transform: rotate(-45deg);
		}
	}
}

.price {
	width: 220px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #edf3fa;

	@media @tablet {
		display: inline-block;
		margin-right: 15px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	@media @desktop {
		width: 285px;
	}

	&:hover {
		background-color: #bdd63d;

		h3 {
			color: #fff;
		}

		.price__item {
			color: #fff;
		}

		.price__button {
			border: 2px solid #fff;
			color: #fff;
			
			&:hover {
				border: 2px solid #6c6c6d;
				color: #6c6c6d;
			}
		}
	}

	h3 {
		margin-bottom: 25px;
	}

	&__list {
		margin-bottom: 20px;
	}

	&__item {
		list-style: none;
		font-size: 11px;
		color: #4d4d4c;
		line-height: 18px;

		@media @desktop {
			font-size: 12px;
		}
	}

	&__button {
		padding: 12px 20px;
		border: 2px solid #6c6c6d;
		border-radius: 30px;
		
		@media @desktop {
			font-size: 16px;
		}
	}

	&__sale {
		margin-bottom: 20px;
		font-size: 12px;
	}
}