.faq {
	padding: 0 15px;
	color: #666666;

	@media @tablet {

		.wrapper {
			width: 700px;
			padding: 0;

			@media @desktop {
				width: 930px;
			}
		}
	}

	h2 {
		padding-top: 70px;
		padding-bottom: 60px;
		text-transform: inherit;
	}

	&__list {
		margin-bottom: 45px;

		@media @tablet {
			display: inline-block;
			width: 49%;
		}
	}

	&__item {
		margin-bottom: 5px;
		list-style: none;
		font-size: 14px;
		cursor: pointer;

		@media @tablet {
			font-size: 18px;
		}
	}

	&__item--active {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 6px;
			left: -10px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #fee010;
		}
	}

	p {
		padding-bottom: 50px;
		font-size: 11px;
		text-align: left;

		@media @tablet {
			width: 49%;
			font-size: 14px;
			vertical-align: top;
		}
	}

	&__answer {
		display: none;
	}

	&__answer-show {
		display: inline-block;
	}
}