.first {
	padding-top: 205px;
	margin-bottom: 80px;
	background-image: url(../images/logo_w_text.png);
	background-position: center 75px;

	p {
		margin-bottom: 25px;
		color: #7d7d7d;
		text-align: center;
	}

	h1 {
		margin-bottom: 40px;
		font-size: 36px;
		color: #6c6c6d;
		text-transform: uppercase;
	}
}

.video {
	position: relative;

	img {
		width: 100%;
	}

	&__play-button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 85px;
		height: 85px;
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.2);
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			left: 40%;
			top: 50%;
			transform: translatey(-50%);
			border: 20px solid transparent;
			border-left: 20px solid rgba(1, 1, 1, 0.5);
		}
	}
}