.footer {
	padding-top: 10px;
	padding-bottom: 7px;
	background-color: #232324;
	color: #fff;
	font-size: 12px;

	a {
		display: inline-block;
		width: 49%;
		text-decoration: none;
		color: #fff;
	}

	p {
		display: inline-block;
		width: 49%;
		text-align: left;
	}

	&__copyright {

		p {
			margin-top: 30px;
			width: 100%;
			font-size: 9px;
			text-align: left;
		}
	}
}