.footer {
	padding-top: 10px;
	padding-bottom: 7px;
	background-color: #232324;
	color: #fff;
	font-size: 12px;

	.wrapper {
		position: relative;
	}

	@media @tablet {
		padding-top: 20px;
		padding-bottom: 25px;
	}

	@media @big-desktop {
		text-align: center;
	}

	a {
		display: inline-block;
		width: 49%;
		text-decoration: none;
		color: #fff;

		@media @tablet {
			width: auto;
			margin-right: 30px;
		}

		@media @desktop {
			margin-right: 80px;
		}
	}

	p {
		display: inline-block;
		width: 49%;
		text-align: left;

		@media @tablet {
			width: auto;
			margin-right: 30px;
		}

		@media @big-desktop {
			width: auto;
			margin-right: 75px;
		}
	}

	&__copyright {

		p {
			margin-top: 30px;
			width: 100%;
			font-size: 9px;
			text-align: left;

			@media @tablet {
				width: auto;
				margin-top: 0;
				margin-right: 30px;
				font-size: 12px;
			}
		}

		@media @tablet {
			display: inline-block;
			width: auto;
		}
	}

	&__crepla-logo {
		max-width: 250px;
		margin: 0 auto;
		margin-top: 25px;


		@media @tablet {
			position: absolute;
			right: 15px;
			top: -40px;
			width: 200px;
			height: 50px;
		}

		a {
			display: inline-block;
			width: 100%;

			@media @tablet {
				width: 200px;
			}

			p {
				display: inline-block;
				margin-top: 25px;
				margin-right: 10px;
				vertical-align: top;

				@media @tablet {
					margin-top: 15px;
					margin-right: 10px;
				}
			}

			img {
				display: inline-block;

				@media @tablet {
					width: 75px;
				}
			}
		}
	}
}