html,
body {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	background-color: #fff;
	font-family: BlissProHeavy;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-repeat: no-repeat;
}


.clearfix {
	content: '';
	display: block;
	clear: both;
}

button {
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
}

input {
	outline: none;
}

textarea {
	resize: none;
}

.main-wrapper {
	width: 100%;

	@media (min-width: 750px) {
		width: 750px;
		margin: 0 auto;
	}
}

.wrapper {
	width: 100%;
	padding: 0 16px;
}

.hide {
	display: none;
}

h1,
h2,
h3,
h4,
h5 {
	text-align: center;
}

h2 {
	font-size: 18px;
	text-transform: uppercase;
}

p {
	text-align: center;
}