.speakers {
	background-color: #f7f8fb;
	text-align: center;

	@media @desktop {

		br {
			display: none;
		}

		.wrapper {
			width: 950px;
		}
	}

	&__header {
		padding: 85px 0;

		@media @tablet {
			padding-bottom: 105px;
		}

		h2 {
			color: #666666;
		}
	}

	&__more {
		position: relative;
		height: 40px;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			left: 50%;
			width: 20px;
			height: 20px;
			border-top: 2px solid #000;
			border-right: 2px solid #000;
			transform: translatex(-50%) rotate(135deg);
		}
	}

	&__less {
		display: none;
		position: relative;
		height: 40px;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			left: 50%;
			width: 20px;
			height: 20px;
			border-top: 2px solid #000;
			border-right: 2px solid #000;
			transform: translatex(-50%) rotate(-45deg);
		}
	}

	&__tablet {
		display: none;

		@media @tablet {
			display: inline-block;
		}
	}

	&__desktop {
		display: none;

		@media @desktop {
			display: inline-block;
		}
	}

	&__big-desktop {
		display: none;

		@media @big-desktop {
			display: inline-block;
		}
	}
}

.speaker {
	position: relative;
	margin-bottom: 65px;
	text-align: center;
	cursor: pointer;
	width: 100%;
	vertical-align: top;

	@media @tablet {
		display: inline-block;
		width: 180px;
		margin-bottom: 45px;
	}

	@media @desktop {
		width: 150px;
	}

	&__photo {
		width: 140px;
		height: 140px;
		margin: 0 auto;
		border-radius: 50%;
		overflow: hidden;
		background-color: #fff;

		img {
			display: block;
			width: 100%;
			margin: 0 auto;
			margin-bottom: 15px;
		} 
	}

	&__name {
		margin-bottom: 10px;
		font-size: 18px;
		color: #666666;

		@media @tablet {
			height: 40px;
			margin-bottom: 5px;
			display: flex;
    align-items: center;
    justify-content: center;
		}
	}

	&__company {
		font-size: 14px;
		color: #bdd63d;
	}

	&--hidden {
		display: none;

		@media @tablet {
			display: none;
		}
	}
}

.speaker-details {
	position: fixed;
	z-index: 10;
	top: 50px;
	left: 0;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #fff;
	text-align: center;

	@media @tablet {
		left: ~"calc(50% - 200px)";
		width: 400px;
	}

	&__text {
		padding: 15px;
	}

	&__header {
		padding: 15px 0;
		margin-bottom: 12px;
		background-color: #6c6c6d;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		color: #fff;
		font-size: 13px;
	}

	&__close {
		position: absolute;
		z-index: 100;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 15px;
			right: 15px;
			width: 2px;
			height: 12px;
			background-color: #e1e1e1;
			transform: rotate(45deg);
		}

		&::after {
			content: '';
			position: absolute;
			top: 15px;
			right: 15px;
			width: 2px;
			height: 12px;
			background-color: #e1e1e1;
			transform: rotate(-45deg);
		}
	}

	&__avatar {
		margin: 0 auto;
		margin-bottom: 10px;
		width: 140px;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	&__name {
		margin-bottom: 15px;
		font-size: 16px;
		color: #515255;
		text-align: left;
	}

	&__description {
		margin-bottom: 25px;
		color: #b2b2b2;
		font-size: 14px;
		text-align: left;
	}

	&__company {
		margin-bottom: 20px;
		font-size: 12px;
		text-align: left;
		color: #515255;
	}

	&__position {
		padding-bottom: 20px;
		font-size: 12px;
		text-align: left;
		color: #515255;
	}
}