.volunteers {
	background-color: #f8f8f8;
	padding-bottom: 65px;

	h2 {
		margin-bottom: 50px;
		padding-top: 25px;
		padding-bottom: 50px;
		background-color: #6c6c6d;
		color: #fff;
	}
}

.form-volunteers {

	input {
		width: 100%;
		margin-bottom: 13px;
		padding: 12px;
		border: 1px solid #eaeaea;

		&::placeholder {
			font-size: 10px;
			color: #999999;
		}
	}

	textarea {
		width: 100%;
		padding: 12px;
		border: #eaeaea;
		border: 1px solid #eaeaea;

		&::placeholder {
			font-size: 10px;
			color: #999999;
		}
	}
}